.playlistsong {
  background-color: var(--songBgColor);
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-radius: 3px;
  transition: all 0.3s ease;
  width: 100%;
  user-select: none;
}

.playlistsong:hover,
.playing-song {
  background-color: var(--songHoverBgColor);
}

.playlistsong__img {
  border-radius: 3px;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.playlistsong__info {
  margin-left: 0.5rem;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlistsong__infoName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlistsong__infoArtist {
  font-size: 0.8rem;
}

.playlistsong__optionsIcon {
  color: rgb(158, 158, 158) !important;
}

.playlistsong__optionsIcon:hover {
  color: white !important;
}

.playlistsong__optionsItem {
  font-size: 0.8rem !important;
}

@media screen and (max-width: 695px) {
  .playlistsong {
    max-width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .playlistsong__infoArtist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
  }
}
