.playlist{
    color: var(--textColor);
    padding:1rem;
}

.playlist__titleText{
    font-size: 1.8rem;
    font-weight:500;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.playlist__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
