.song{
    padding: 1rem;
    margin: 1rem 1.2rem;
    margin-left: 0;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 15px 30px 5px rgba(0,0,0,0.1);
    background-color: var(--songBgColor);
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.song:hover{
    background-color: var(--songHoverBgColor);
}

.song__image{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.song__name{
    text-overflow: ellipsis;
}

.song__artist{
    text-overflow: ellipsis;
    font-size: 0.8rem;
}